{"swagger": "2.0", "info": {"title": "SWISS-MODEL Modelling API", "description": "SWISS-MODEL API for homology modelling projects. For further details, <a href=\"/docs/help#modelling_api\">see here</a>.", "version": "1.0"}, "host": "swissmodel.expasy.org", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"api_key": {"type": "apiKey", "in": "header", "name": "Authorization"}}, "security": [{"api_key": []}], "paths": {"/alignment/": {"post": {"operationId": "alignment_create", "summary": "Start a new modelling project in Alignment mode.", "description": "The project will remain on our file system for up to 14 days.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Alignment Mode Submit"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Alignment Mode Submit"}}}, "tags": ["Create a new project"]}, "parameters": []}, "/api-token-auth/": {"post": {"operationId": "api-token-auth_create", "summary": "Obtain auth token", "description": "Authenticate a user and return an auth token.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AuthToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AuthToken"}}}, "tags": ["Authentication"]}, "parameters": []}, "/automodel/": {"post": {"operationId": "automodel_create", "summary": "Start a new modelling project in AutoModel mode.", "description": "The project will remain on our file system for up to 14 days.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AutoModel Mode Submit"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AutoModel Mode Submit"}}}, "tags": ["Create a new project"]}, "parameters": []}, "/project/{project_id}/models/full-details/": {"get": {"operationId": "project_models_full-details_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FullResults"}}}, "tags": ["Fetch the results"]}, "parameters": [{"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/project/{project_id}/models/full-details/{model_id}": {"get": {"operationId": "project_models_full-details_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FullResults"}}}, "tags": ["Fetch the results"]}, "parameters": [{"name": "model_id", "in": "path", "required": true, "type": "string"}, {"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/project/{project_id}/models/summary/": {"get": {"operationId": "project_models_summary_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Results"}}}, "tags": ["Fetch the results"]}, "parameters": [{"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/project/{project_id}/models/{model_id}.cif": {"get": {"operationId": "project_models_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Results"}}}, "tags": ["Fetch the results"]}, "parameters": [{"name": "model_id", "in": "path", "required": true, "type": "string"}, {"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/project/{project_id}/models/{model_id}.cif.gz": {"get": {"operationId": "project_models_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Results"}}}, "tags": ["Fetch the results"]}, "parameters": [{"name": "model_id", "in": "path", "required": true, "type": "string"}, {"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/project/{project_id}/models/{model_id}.pdb": {"get": {"operationId": "project_models_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Results"}}}, "tags": ["Fetch the results"]}, "parameters": [{"name": "model_id", "in": "path", "required": true, "type": "string"}, {"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/project/{project_id}/models/{model_id}.pdb.gz": {"get": {"operationId": "project_models_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Results"}}}, "tags": ["Fetch the results"]}, "parameters": [{"name": "model_id", "in": "path", "required": true, "type": "string"}, {"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/projects/": {"get": {"operationId": "projects_read", "summary": "List all projects created", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ListProjects"}}}, "tags": ["Fetch the results"]}, "parameters": []}, "/projects/download/": {"post": {"operationId": "projects_download_create", "summary": "Create a package containing all (PDB or ModelCIF) coordinates, metadata and an overall summary for COMPLETED projects.", "description": "The package .zip will remain on our file system for up to 2 days.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Download Projects"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Download Projects"}}}, "tags": ["Fetch the results"]}, "parameters": []}, "/projects/download/{download_id}/": {"get": {"operationId": "projects_download_read", "summary": "Obtain a download URL for the packaged data file (if status for download_id is COMPLETED).", "description": "The package .zip will remain on our file system for up to 2 days.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Download Projects Results"}}}, "tags": ["Fetch the results"]}, "parameters": [{"name": "download_id", "in": "path", "required": true, "type": "string"}]}, "/user_template/": {"post": {"operationId": "user_template_create", "summary": "Start a new modelling project in User Template mode.", "description": "The project will remain on our file system for up to 14 days.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserTemplate Mode Submit"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserTemplate Mode Submit"}}}, "tags": ["Create a new project"]}, "parameters": []}}, "definitions": {"Alignment Mode Submit": {"required": ["target_sequences", "template_sequence", "template_seqres_offset", "pdb_id", "auth_asym_id"], "type": "object", "properties": {"target_sequences": {"title": "Target sequences", "description": "Amino acid sequence as a string, or as a list for hetero targets [\"sequence\",\"sequence\",...]", "type": "object"}, "template_sequence": {"title": "Template sequence", "description": "Template sequence", "type": "string", "minLength": 1}, "template_seqres_offset": {"title": "Template seqres offset", "description": "Offset of the provided template_sequence on the seqres (defined as the mmCIF entity_poly_seq category).", "type": "integer"}, "pdb_id": {"title": "Pdb id", "description": "PDB ID of the template", "type": "string", "maxLength": 4, "minLength": 1}, "auth_asym_id": {"title": "Auth asym id", "description": "PDB author chain name", "type": "string", "minLength": 1}, "assembly_id": {"title": "Assembly id", "description": "Biounit assembly ID", "type": "integer"}, "project_id": {"title": "Project id", "type": "string", "readOnly": true, "minLength": 1}, "date_created": {"title": "Date created", "type": "string", "format": "date-time", "readOnly": true}, "project_title": {"title": "Project title", "type": "string", "maxLength": 256, "x-nullable": true}}}, "AuthToken": {"required": ["username", "password"], "type": "object", "properties": {"username": {"title": "Username", "type": "string", "minLength": 1}, "password": {"title": "Password", "type": "string", "minLength": 1}, "token": {"title": "Token", "type": "string", "readOnly": true, "minLength": 1}}}, "AutoModel Mode Submit": {"required": ["target_sequences"], "type": "object", "properties": {"project_id": {"title": "Project id", "type": "string", "readOnly": true, "minLength": 1}, "target_sequences": {"title": "Target sequences", "description": "Amino acid sequence as a string, or as a list for hetero targets [\"sequence\",\"sequence\",...]", "type": "object"}, "date_created": {"title": "Date created", "type": "string", "format": "date-time", "readOnly": true}, "project_title": {"title": "Project title", "type": "string", "maxLength": 256, "x-nullable": true}}}, "FullResults": {"type": "object", "properties": {"project_id": {"title": "Project id", "type": "string", "readOnly": true}, "target_sequences": {"title": "Target sequences", "type": "string", "readOnly": true}, "status": {"title": "Status", "type": "string", "readOnly": true}, "message": {"title": "Message", "type": "string", "readOnly": true}, "date_created": {"title": "Date created", "type": "string", "readOnly": true}, "models": {"title": "Models", "type": "string", "readOnly": true}, "project_title": {"title": "Project title", "type": "string", "readOnly": true}, "view_url": {"title": "View url", "type": "string", "readOnly": true}}}, "Results": {"type": "object", "properties": {"project_id": {"title": "Project id", "type": "string", "readOnly": true}, "status": {"title": "Status", "type": "string", "readOnly": true}, "models": {"title": "Models", "type": "string", "readOnly": true}, "date_created": {"title": "Date created", "type": "string", "readOnly": true}, "project_title": {"title": "Project title", "type": "string", "readOnly": true}, "view_url": {"title": "View url", "type": "string", "readOnly": true}}}, "ListProjects": {"type": "object", "properties": {"project_id": {"title": "Project id", "type": "string", "readOnly": true}, "status": {"title": "Status", "type": "string", "readOnly": true}, "date_created": {"title": "Date created", "type": "string", "readOnly": true}, "project_title": {"title": "Project title", "type": "string", "readOnly": true}, "project_type": {"title": "Project type", "type": "string", "readOnly": true}, "model_count": {"title": "Model count", "type": "string", "readOnly": true}}}, "Download Projects": {"type": "object", "properties": {"coordinates_type": {"title": "Coordinates type", "type": "string", "enum": ["pdb", "cif"]}, "from_datetime": {"title": "From datetime", "description": "Download projects created after from_datetime,  Must be in isoformat, eg \"2024-09-20T10:05:20\" ", "type": "string", "maxLength": 19, "minLength": 1, "x-nullable": true}, "to_datetime": {"title": "To datetime", "description": "Download projects created before to_datetime,  Must be in isoformat, eg \"2024-09-22T12:12:20\" ", "type": "string", "maxLength": 19, "minLength": 1, "x-nullable": true}, "download_id": {"title": "Download id", "type": "string", "readOnly": true, "minLength": 1}}}, "Download Projects Results": {"type": "object", "properties": {"status": {"title": "Status", "type": "string", "enum": ["INITIALISED", "QUEUEING", "RUNNING", "COMPLETED", "FAILED", "UNKNOWN"], "readOnly": true}, "coordinates_type": {"title": "Coordinates type", "type": "string", "enum": ["pdb", "cif"], "readOnly": true}, "from_datetime": {"title": "From datetime", "description": "Download projects created after from_datetime,  Must be in isoformat, eg \"2024-09-20T10:05:20\" ", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "to_datetime": {"title": "To datetime", "description": "Download projects created before to_datetime,  Must be in isoformat, eg \"2024-09-22T12:12:20\" ", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "download_id": {"title": "Download id", "type": "string", "readOnly": true, "minLength": 1}, "download_url": {"title": "Download url", "type": "string", "readOnly": true, "minLength": 1}}}, "UserTemplate Mode Submit": {"required": ["template_coordinates", "target_sequences"], "type": "object", "properties": {"project_id": {"title": "Project id", "type": "string", "readOnly": true, "minLength": 1}, "template_coordinates": {"title": "Template coordinates", "type": "string", "minLength": 1}, "target_sequences": {"title": "Target sequences", "description": "Amino acid sequence as a string, or as a list for hetero targets [\"sequence\",\"sequence\",...]", "type": "object"}, "date_created": {"title": "Date created", "type": "string", "format": "date-time", "readOnly": true}, "project_title": {"title": "Project title", "type": "string", "maxLength": 256, "x-nullable": true}}}}}